.root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}

.glass-pane {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-radius: 20;
    -fx-padding: 40;
    -fx-border-color: rgba(255, 255, 255, 0.3);
}



.text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #ccc;
}

.login-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-cursor: hand;
}

.side-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 15;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
    -fx-transition: 0.3s;

}

.side-button:hover {
    -fx-background-color: #34495e;
    -fx-background-color: #34495e;
    -fx-translate-x: 10px;
    -fx-scale-x: 1.02;
    -fx-cursor: hand;
}

.glass-title-bar {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    /* Halka transparent white */
    -fx-border-color: rgba(255, 255, 255, 0.1);
    /* Halka border */
    -fx-border-width: 0 0 1 0;
    /* Sirf niche ki line */
    -fx-padding: 8 15;
}

.glass-title-bar .text {
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 1);
}

.window-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.window-btn:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5;
}

.window-btn-close {
    -fx-background-color: rgba(231, 76, 60, 0.8);
    -fx-cursor: hand;
}

.window-btn-close:hover {
    -fx-background-color: rgba(231, 76, 60, 0.8);
    /* Red transparency */
    -fx-background-radius: 5;
}



.side-button:pressed {
    -fx-background-color: #1abc9c;
}

.found-row {
    -fx-background-color: rgba(46, 204, 113, 0.2);
}

.lost-row {
    -fx-background-color: rgba(231, 76, 60, 0.2);
}